@import "reset";

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

h1 {
  margin: 1.25rem auto!important;
  font-size: 50px!important;
}

.container {
  padding: 0 1rem;
}

input {
  display: flex;
  flex: 1;
}